Site/Connected Services/SGF_Service/SGF_Service5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57843/SGF_Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:57843/SGF_Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SGF.DataAccess" />
  <xs:element name="TipoPersona_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoPersona_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="TipoPersona_ObtenerPorIDResult" nillable="true" type="q2:SGF_TipoPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoPersona_ObtenerPorUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoPersona_ObtenerPorUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="TipoPersona_ObtenerPorUsernameResult" nillable="true" type="q3:SGF_TipoPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoPersona_ObtenerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoPersona_ObtenerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="TipoPersona_ObtenerTodoResult" nillable="true" type="q4:ArrayOfSGF_TipoPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoPersona_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="TipoPersona" nillable="true" type="q5:SGF_TipoPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoPersona_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuario_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuario_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="TipoUsuario_ObtenerPorIDResult" nillable="true" type="q7:SGF_TipoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuario_ObtenerPorUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuario_ObtenerPorUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="TipoUsuario_ObtenerPorUsernameResult" nillable="true" type="q8:ArrayOfSGF_TipoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuario_ObtenerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuario_ObtenerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="TipoUsuario_ObtenerTodoResult" nillable="true" type="q9:ArrayOfSGF_TipoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuario_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="newTipoUsuario" nillable="true" type="q10:SGF_TipoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuario_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q11:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Usuario_ObtenerPorIDResult" nillable="true" type="q12:SGF_Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ObtenerPorUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ObtenerPorUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Usuario_ObtenerPorUsernameResult" nillable="true" type="q13:SGF_Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ObtenerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ObtenerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Usuario_ObtenerTodoResult" nillable="true" type="q14:ArrayOfSGF_Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ObtenerPorTipoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="TipoUsuario" type="q15:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ObtenerPorTipoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Usuario_ObtenerPorTipoUsuarioResult" nillable="true" type="q16:ArrayOfSGF_Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="usuario" nillable="true" type="q17:SGF_Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ActualizarPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clvAnt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clvAct" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nompc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="logueado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ActualizarPasswordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_BuscarUsuarioVTA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="TipoUsuario" type="q18:guid" />
        <xs:element minOccurs="0" name="identificacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_BuscarUsuarioVTAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Usuario_BuscarUsuarioVTAResult" nillable="true" type="q19:ArrayOfSGF_Usuario_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_BuscarUsuarioPorID_VTA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="usuarioID" type="q20:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_BuscarUsuarioPorID_VTAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Usuario_BuscarUsuarioPorID_VTAResult" nillable="true" type="q21:SGF_Usuario_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Variedad_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q22:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Variedad_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Variedad_ObtenerPorIDResult" nillable="true" type="q23:SGF_Variedad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Variedad_ObtenerPorCodName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Variedad_ObtenerPorCodNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Variedad_ObtenerPorCodNameResult" nillable="true" type="q24:ArrayOfSGF_Variedad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Variedad_ObtenerPorCodNameVTA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Variedad_ObtenerPorCodNameVTAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Variedad_ObtenerPorCodNameVTAResult" nillable="true" type="q25:ArrayOfSGF_Variedad_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Variedad_ObtenerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Variedad_ObtenerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Variedad_ObtenerTodoResult" nillable="true" type="q26:ArrayOfSGF_Variedad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Variedad_ObtenerTodoVTA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Variedad_ObtenerTodoVTAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Variedad_ObtenerTodoVTAResult" nillable="true" type="q27:ArrayOfSGF_Variedad_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Variedad_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="variedad" nillable="true" type="q28:SGF_Variedad" />
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nompc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Variedad_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Auditoria_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="registro" nillable="true" type="q29:SGF_Auditoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Auditoria_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Boton_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q30:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Boton_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Boton_ObtenerPorIDResult" nillable="true" type="q31:SGF_Boton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Boton_ObtenerPorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Boton_ObtenerPorNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Boton_ObtenerPorNombreResult" nillable="true" type="q32:SGF_Boton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Boton_ObtenerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Boton_ObtenerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Boton_ObtenerTodoResult" nillable="true" type="q33:ArrayOfSGF_Boton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Boton_ObtenerPorFormularioID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="formularioID" type="q34:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Boton_ObtenerPorFormularioIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Boton_ObtenerPorFormularioIDResult" nillable="true" type="q35:ArrayOfSGF_Boton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Boton_ObtenerPorUsuarioID_VTA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="usuarioID" type="q36:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Boton_ObtenerPorUsuarioID_VTAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Boton_ObtenerPorUsuarioID_VTAResult" nillable="true" type="q37:ArrayOfSEG_Botones_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Boton_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="newBoton" nillable="true" type="q38:SGF_Boton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Boton_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PermisoBoton_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="newBoton" nillable="true" type="q39:SGF_PermisoBoton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PermisoBoton_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CampoCultivo_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="newCampoCultivo" nillable="true" type="q40:SGF_CampoCultivo" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CampoCultivo_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CampoCultivo_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q41:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CampoCultivo_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="CampoCultivo_ObtenerPorIDResult" nillable="true" type="q42:SGF_CampoCultivo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CultivoArea_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="newCampoCultivo" nillable="true" type="q43:SGF_CultivoArea" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CultivoArea_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CultivoArea_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q44:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CultivoArea_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="CultivoArea_ObtenerPorIDResult" nillable="true" type="q45:SGF_CultivoArea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CultivoBloque_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="newCampoCultivo" nillable="true" type="q46:SGF_CultivoBloque" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CultivoBloque_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CultivoBloque_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q47:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CultivoBloque_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="CultivoBloque_ObtenerPorIDResult" nillable="true" type="q48:SGF_CultivoBloque" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CultivoLado_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="newCampoCultivo" nillable="true" type="q49:SGF_CultivoLado" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CultivoLado_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CultivoLado_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q50:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CultivoLado_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="CultivoLado_ObtenerPorIDResult" nillable="true" type="q51:SGF_CultivoLado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CultivoNave_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="newCampoCultivo" nillable="true" type="q52:SGF_CultivoNave" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CultivoNave_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CultivoNave_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q53:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CultivoNave_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="CultivoNave_ObtenerPorIDResult" nillable="true" type="q54:SGF_CultivoNave" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CultivoCama_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="newCampoCultivo" nillable="true" type="q55:SGF_CultivoCama" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CultivoCama_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CultivoCama_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q56:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CultivoCama_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="CultivoCama_ObtenerPorIDResult" nillable="true" type="q57:SGF_CultivoCama" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CultivoCuadro_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="newCampoCultivo" nillable="true" type="q58:SGF_CultivoCuadro" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CultivoCuadro_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CultivoCuadro_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q59:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CultivoCuadro_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="CultivoCuadro_ObtenerPorIDResult" nillable="true" type="q60:SGF_CultivoCuadro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q61:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Clasificador_ObtenerPorIDResult" nillable="true" type="q62:SGF_Clasificador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ObtenerPorUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ObtenerPorUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Clasificador_ObtenerPorUsernameResult" nillable="true" type="q63:ArrayOfSGF_Clasificador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ObtenerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ObtenerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Clasificador_ObtenerTodoResult" nillable="true" type="q64:ArrayOfSGF_Clasificador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ObtenerPorTipoClasificador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="TipoClasificador" type="q65:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ObtenerPorTipoClasificadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Clasificador_ObtenerPorTipoClasificadorResult" nillable="true" type="q66:ArrayOfSGF_Clasificador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="newclasificador" nillable="true" type="q67:SGF_Clasificador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clasificadorID" type="q68:guid" />
        <xs:element minOccurs="0" name="observacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_EliminarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_Activar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clasificadorID" type="q69:guid" />
        <xs:element minOccurs="0" name="observacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ActivarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ObtenerPorID_VTA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q70:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ObtenerPorID_VTAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Clasificador_ObtenerPorID_VTAResult" nillable="true" type="q71:SGF_Clasificador_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ObtenerPorUsername_VTA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ObtenerPorUsername_VTAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Clasificador_ObtenerPorUsername_VTAResult" nillable="true" type="q72:ArrayOfSGF_Clasificador_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ObtenerTodo_VTA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ObtenerTodo_VTAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Clasificador_ObtenerTodo_VTAResult" nillable="true" type="q73:ArrayOfSGF_Clasificador_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_Buscar_VTA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element xmlns:q74="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="tipoClasificadorID" type="q74:guid" />
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="parentID" type="q75:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_Buscar_VTAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Clasificador_Buscar_VTAResult" nillable="true" type="q76:ArrayOfSGF_Clasificador_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q77:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Empresa_ObtenerPorIDResult" nillable="true" type="q78:SGF_Empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_ObtenerPorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_ObtenerPorNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Empresa_ObtenerPorNombreResult" nillable="true" type="q79:SGF_Empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_ObtenerPorRUC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_ObtenerPorRUCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Empresa_ObtenerPorRUCResult" nillable="true" type="q80:SGF_Empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_ObtenerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_ObtenerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Empresa_ObtenerTodoResult" nillable="true" type="q81:ArrayOfSGF_Empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="empresa" nillable="true" type="q82:SGF_Empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Formulario_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q83:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formulario_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Formulario_ObtenerPorIDResult" nillable="true" type="q84:SGF_Formulario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formulario_ObtenerPorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formulario_ObtenerPorNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Formulario_ObtenerPorNombreResult" nillable="true" type="q85:SGF_Formulario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formulario_ObtenerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Formulario_ObtenerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Formulario_ObtenerTodoResult" nillable="true" type="q86:ArrayOfSGF_Formulario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formulario_ObtenerPorModuloID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="moduloID" type="q87:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formulario_ObtenerPorModuloIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Formulario_ObtenerPorModuloIDResult" nillable="true" type="q88:ArrayOfSGF_Formulario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formulario_ObtenerPorNombre_ModuloID_VTA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="moduloID" type="q89:guid" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formulario_ObtenerPorNombre_ModuloID_VTAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Formulario_ObtenerPorNombre_ModuloID_VTAResult" nillable="true" type="q90:ArrayOfSGF_Formulario_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formulario_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="newFormulario" nillable="true" type="q91:SGF_Formulario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formulario_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Formulario_ObtenerPorUsuarioID_VTA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="usuarioID" type="q92:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formulario_ObtenerPorUsuarioID_VTAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Formulario_ObtenerPorUsuarioID_VTAResult" nillable="true" type="q93:ArrayOfSEG_Formularios_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PermisoFormulario_LimpiarEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="usuarioID" type="q94:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PermisoFormulario_LimpiarEstadoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PermisoFormulario_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="newPermiso" nillable="true" type="q95:SGF_Permiso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PermisoFormulario_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Grupo_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q96:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grupo_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Grupo_ObtenerPorIDResult" nillable="true" type="q97:SGF_Grupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grupo_ObtenerPorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grupo_ObtenerPorNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Grupo_ObtenerPorNombreResult" nillable="true" type="q98:SGF_Grupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grupo_ObtenerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Grupo_ObtenerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Grupo_ObtenerTodoResult" nillable="true" type="q99:ArrayOfSGF_Grupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grupo_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Grupo" nillable="true" type="q100:SGF_Grupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grupo_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LineaAerea_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q101:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LineaAerea_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="LineaAerea_ObtenerPorIDResult" nillable="true" type="q102:SGF_LineaAerea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LineaAerea_ObtenerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LineaAerea_ObtenerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="LineaAerea_ObtenerTodoResult" nillable="true" type="q103:ArrayOfSGF_LineaAerea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Activate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Modulo_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q104:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modulo_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Modulo_ObtenerPorIDResult" nillable="true" type="q105:SGF_Modulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modulol_ObtenerPorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modulol_ObtenerPorNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Modulol_ObtenerPorNombreResult" nillable="true" type="q106:ArrayOfSGF_Modulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modulo_ObtenerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Modulo_ObtenerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Modulo_ObtenerTodoResult" nillable="true" type="q107:ArrayOfSGF_Modulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modulo_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="newModulo" nillable="true" type="q108:SGF_Modulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modulo_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q109:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Persona_ObtenerPorIDResult" nillable="true" type="q110:SGF_Persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_ObtenerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_ObtenerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Persona_ObtenerTodoResult" nillable="true" type="q111:ArrayOfSGF_Persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Person_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="newPersona" nillable="true" type="q112:SGF_Persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Person_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_BuscarPersonaVTA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="TipoPersona" type="q113:guid" />
        <xs:element minOccurs="0" name="identificacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_BuscarPersonaVTAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Persona_BuscarPersonaVTAResult" nillable="true" type="q114:ArrayOfSGF_Persona_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Producto_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q115:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Producto_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Producto_ObtenerPorIDResult" nillable="true" type="q116:SGF_Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Producto_ObtenerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Producto_ObtenerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Producto_ObtenerTodoResult" nillable="true" type="q117:ArrayOfSGF_Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Producto_ObtenerPorVariedad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="variedadID" type="q118:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Producto_ObtenerPorVariedadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Producto_ObtenerPorVariedadResult" nillable="true" type="q119:ArrayOfSGF_Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Producto_ObtenerPorVariedadVTA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="variedadID" type="q120:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Producto_ObtenerPorVariedadVTAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Producto_ObtenerPorVariedadVTAResult" nillable="true" type="q121:ArrayOfSGF_Producto_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Producto_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="newProducto" nillable="true" type="q122:SGF_Producto" />
        <xs:element minOccurs="0" name="nomPC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Producto_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Producto_ValidarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="newProducto" nillable="true" type="q123:SGF_Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Producto_ValidarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Producto_ValidarProductoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seguridad_ObtenerUsuarioPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seguridad_ObtenerUsuarioPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Seguridad_ObtenerUsuarioPorIDResult" nillable="true" type="q124:SEG_Usuarios_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seguridad_ObtenerUsuarioTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Seguridad_ObtenerUsuarioTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Seguridad_ObtenerUsuarioTodosResult" nillable="true" type="q125:ArrayOfSEG_Usuarios_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Menu_ObtenerTodosPor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="usuarioID" type="q126:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Menu_ObtenerTodosPorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Menu_ObtenerTodosPorResult" nillable="true" type="q127:ArrayOfSEG_Formularios_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Botones_ObtenerTodosPor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="usuarioID" type="q128:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Botones_ObtenerTodosPorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Botones_ObtenerTodosPorResult" nillable="true" type="q129:ArrayOfSEG_Botones_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seguridad_ParametrosPassword">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Seguridad_ParametrosPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Seguridad_ParametrosPasswordResult" nillable="true" type="q130:ArrayOfSGF_ParametrosPassword" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q131:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Sucursal_ObtenerPorIDResult" nillable="true" type="q132:SGF_Sucursal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_ObtenerPorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_ObtenerPorNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Sucursal_ObtenerPorNombreResult" nillable="true" type="q133:SGF_Sucursal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_ObtenerPorEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="empresa" type="q134:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_ObtenerPorEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Sucursal_ObtenerPorEmpresaResult" nillable="true" type="q135:ArrayOfSGF_Sucursal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_ObtenerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_ObtenerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Sucursal_ObtenerTodoResult" nillable="true" type="q136:ArrayOfSGF_Sucursal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="empresa" nillable="true" type="q137:SGF_Sucursal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoClasificador_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q138:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoClasificador_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="TipoClasificador_ObtenerPorIDResult" nillable="true" type="q139:SGF_TipoClasificador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoClasificador_ObtenerPorUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoClasificador_ObtenerPorUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="TipoClasificador_ObtenerPorUsernameResult" nillable="true" type="q140:SGF_TipoClasificador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoClasificador_ObtenerPorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoClasificador_ObtenerPorNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="TipoClasificador_ObtenerPorNombreResult" nillable="true" type="q141:ArrayOfSGF_TipoClasificador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoClasificador_ObtenerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoClasificador_ObtenerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="TipoClasificador_ObtenerTodoResult" nillable="true" type="q142:ArrayOfSGF_TipoClasificador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoClasificador_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="tipoclasificador" nillable="true" type="q143:SGF_TipoClasificador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoClasificador_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>