Site/Connected Services/SGF_Service/SGF_Service5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57843/SGF_Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SGF.DataAccess" />
  <xs:import schemaLocation="http://localhost:57843/SGF_Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Auditoria_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="registro" nillable="true" type="q1:SGF_Auditoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Auditoria_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Boton_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Boton_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Boton_ObtenerPorIDResult" nillable="true" type="q3:SGF_Boton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Boton_ObtenerPorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Boton_ObtenerPorNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Boton_ObtenerPorNombreResult" nillable="true" type="q4:SGF_Boton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Boton_ObtenerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Boton_ObtenerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Boton_ObtenerTodoResult" nillable="true" type="q5:ArrayOfSGF_Boton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Boton_ObtenerPorFormularioID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="formularioID" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Boton_ObtenerPorFormularioIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Boton_ObtenerPorFormularioIDResult" nillable="true" type="q7:ArrayOfSGF_Boton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Boton_ObtenerPorUsuarioID_VTA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="usuarioID" type="q8:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Boton_ObtenerPorUsuarioID_VTAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Boton_ObtenerPorUsuarioID_VTAResult" nillable="true" type="q9:ArrayOfSEG_Botones_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Boton_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="newBoton" nillable="true" type="q10:SGF_Boton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Boton_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PermisoBoton_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="newBoton" nillable="true" type="q11:SGF_PermisoBoton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PermisoBoton_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q12:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Clasificador_ObtenerPorIDResult" nillable="true" type="q13:SGF_Clasificador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ObtenerPorUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ObtenerPorUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Clasificador_ObtenerPorUsernameResult" nillable="true" type="q14:ArrayOfSGF_Clasificador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ObtenerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ObtenerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Clasificador_ObtenerTodoResult" nillable="true" type="q15:ArrayOfSGF_Clasificador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ObtenerPorTipoClasificador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="TipoClasificador" type="q16:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ObtenerPorTipoClasificadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Clasificador_ObtenerPorTipoClasificadorResult" nillable="true" type="q17:ArrayOfSGF_Clasificador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="newclasificador" nillable="true" type="q18:SGF_Clasificador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clasificadorID" type="q19:guid" />
        <xs:element minOccurs="0" name="observacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_EliminarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_Activar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clasificadorID" type="q20:guid" />
        <xs:element minOccurs="0" name="observacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ActivarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ObtenerPorID_VTA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q21:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ObtenerPorID_VTAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Clasificador_ObtenerPorID_VTAResult" nillable="true" type="q22:SGF_Clasificador_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ObtenerPorUsername_VTA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ObtenerPorUsername_VTAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Clasificador_ObtenerPorUsername_VTAResult" nillable="true" type="q23:ArrayOfSGF_Clasificador_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ObtenerTodo_VTA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_ObtenerTodo_VTAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Clasificador_ObtenerTodo_VTAResult" nillable="true" type="q24:ArrayOfSGF_Clasificador_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_Buscar_VTA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="tipoClasificadorID" type="q25:guid" />
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="parentID" type="q26:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasificador_Buscar_VTAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Clasificador_Buscar_VTAResult" nillable="true" type="q27:ArrayOfSGF_Clasificador_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q28:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Empresa_ObtenerPorIDResult" nillable="true" type="q29:SGF_Empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_ObtenerPorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_ObtenerPorNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Empresa_ObtenerPorNombreResult" nillable="true" type="q30:SGF_Empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_ObtenerPorRUC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_ObtenerPorRUCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Empresa_ObtenerPorRUCResult" nillable="true" type="q31:SGF_Empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_ObtenerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_ObtenerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Empresa_ObtenerTodoResult" nillable="true" type="q32:ArrayOfSGF_Empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="empresa" nillable="true" type="q33:SGF_Empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Formulario_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q34:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formulario_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Formulario_ObtenerPorIDResult" nillable="true" type="q35:SGF_Formulario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formulario_ObtenerPorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formulario_ObtenerPorNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Formulario_ObtenerPorNombreResult" nillable="true" type="q36:SGF_Formulario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formulario_ObtenerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Formulario_ObtenerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Formulario_ObtenerTodoResult" nillable="true" type="q37:ArrayOfSGF_Formulario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formulario_ObtenerPorModuloID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="moduloID" type="q38:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formulario_ObtenerPorModuloIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Formulario_ObtenerPorModuloIDResult" nillable="true" type="q39:ArrayOfSGF_Formulario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formulario_ObtenerPorNombre_ModuloID_VTA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="moduloID" type="q40:guid" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formulario_ObtenerPorNombre_ModuloID_VTAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Formulario_ObtenerPorNombre_ModuloID_VTAResult" nillable="true" type="q41:ArrayOfSGF_Formulario_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formulario_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="newFormulario" nillable="true" type="q42:SGF_Formulario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formulario_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Formulario_ObtenerPorUsuarioID_VTA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="usuarioID" type="q43:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formulario_ObtenerPorUsuarioID_VTAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Formulario_ObtenerPorUsuarioID_VTAResult" nillable="true" type="q44:ArrayOfSEG_Formularios_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PermisoFormulario_LimpiarEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="usuarioID" type="q45:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PermisoFormulario_LimpiarEstadoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PermisoFormulario_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="newPermiso" nillable="true" type="q46:SGF_Permiso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PermisoFormulario_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Grupo_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q47:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grupo_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Grupo_ObtenerPorIDResult" nillable="true" type="q48:SGF_Grupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grupo_ObtenerPorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grupo_ObtenerPorNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Grupo_ObtenerPorNombreResult" nillable="true" type="q49:SGF_Grupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grupo_ObtenerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Grupo_ObtenerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Grupo_ObtenerTodoResult" nillable="true" type="q50:ArrayOfSGF_Grupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grupo_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Grupo" nillable="true" type="q51:SGF_Grupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grupo_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Activate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Modulo_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q52:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modulo_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Modulo_ObtenerPorIDResult" nillable="true" type="q53:SGF_Modulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modulol_ObtenerPorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modulol_ObtenerPorNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Modulol_ObtenerPorNombreResult" nillable="true" type="q54:ArrayOfSGF_Modulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modulo_ObtenerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Modulo_ObtenerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Modulo_ObtenerTodoResult" nillable="true" type="q55:ArrayOfSGF_Modulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modulo_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="newModulo" nillable="true" type="q56:SGF_Modulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modulo_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q57:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Persona_ObtenerPorIDResult" nillable="true" type="q58:SGF_Persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_ObtenerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_ObtenerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Persona_ObtenerTodoResult" nillable="true" type="q59:ArrayOfSGF_Persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Person_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="newPersona" nillable="true" type="q60:SGF_Persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Person_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_BuscarPersonaVTA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="TipoPersona" type="q61:guid" />
        <xs:element minOccurs="0" name="identificacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_BuscarPersonaVTAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Persona_BuscarPersonaVTAResult" nillable="true" type="q62:ArrayOfSGF_Persona_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seguridad_ObtenerUsuarioPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seguridad_ObtenerUsuarioPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Seguridad_ObtenerUsuarioPorIDResult" nillable="true" type="q63:SEG_Usuarios_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seguridad_ObtenerUsuarioTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Seguridad_ObtenerUsuarioTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Seguridad_ObtenerUsuarioTodosResult" nillable="true" type="q64:ArrayOfSEG_Usuarios_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Menu_ObtenerTodosPor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="usuarioID" type="q65:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Menu_ObtenerTodosPorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Menu_ObtenerTodosPorResult" nillable="true" type="q66:ArrayOfSEG_Formularios_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Botones_ObtenerTodosPor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="usuarioID" type="q67:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Botones_ObtenerTodosPorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Botones_ObtenerTodosPorResult" nillable="true" type="q68:ArrayOfSEG_Botones_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seguridad_ParametrosPassword">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Seguridad_ParametrosPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Seguridad_ParametrosPasswordResult" nillable="true" type="q69:ArrayOfSGF_ParametrosPassword" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q70:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Sucursal_ObtenerPorIDResult" nillable="true" type="q71:SGF_Sucursal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_ObtenerPorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_ObtenerPorNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Sucursal_ObtenerPorNombreResult" nillable="true" type="q72:SGF_Sucursal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_ObtenerPorEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="empresa" type="q73:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_ObtenerPorEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Sucursal_ObtenerPorEmpresaResult" nillable="true" type="q74:ArrayOfSGF_Sucursal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_ObtenerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_ObtenerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Sucursal_ObtenerTodoResult" nillable="true" type="q75:ArrayOfSGF_Sucursal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="empresa" nillable="true" type="q76:SGF_Sucursal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sucursal_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoClasificador_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q77:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoClasificador_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="TipoClasificador_ObtenerPorIDResult" nillable="true" type="q78:SGF_TipoClasificador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoClasificador_ObtenerPorUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoClasificador_ObtenerPorUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="TipoClasificador_ObtenerPorUsernameResult" nillable="true" type="q79:SGF_TipoClasificador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoClasificador_ObtenerPorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoClasificador_ObtenerPorNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="TipoClasificador_ObtenerPorNombreResult" nillable="true" type="q80:ArrayOfSGF_TipoClasificador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoClasificador_ObtenerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoClasificador_ObtenerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="TipoClasificador_ObtenerTodoResult" nillable="true" type="q81:ArrayOfSGF_TipoClasificador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoClasificador_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="tipoclasificador" nillable="true" type="q82:SGF_TipoClasificador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoClasificador_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoPersona_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q83:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoPersona_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="TipoPersona_ObtenerPorIDResult" nillable="true" type="q84:SGF_TipoPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoPersona_ObtenerPorUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoPersona_ObtenerPorUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="TipoPersona_ObtenerPorUsernameResult" nillable="true" type="q85:SGF_TipoPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoPersona_ObtenerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoPersona_ObtenerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="TipoPersona_ObtenerTodoResult" nillable="true" type="q86:ArrayOfSGF_TipoPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoPersona_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="TipoPersona" nillable="true" type="q87:SGF_TipoPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoPersona_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuario_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q88:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuario_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="TipoUsuario_ObtenerPorIDResult" nillable="true" type="q89:SGF_TipoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuario_ObtenerPorUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuario_ObtenerPorUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="TipoUsuario_ObtenerPorUsernameResult" nillable="true" type="q90:ArrayOfSGF_TipoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuario_ObtenerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuario_ObtenerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="TipoUsuario_ObtenerTodoResult" nillable="true" type="q91:ArrayOfSGF_TipoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuario_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="newTipoUsuario" nillable="true" type="q92:SGF_TipoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuario_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q93:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Usuario_ObtenerPorIDResult" nillable="true" type="q94:SGF_Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ObtenerPorUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ObtenerPorUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Usuario_ObtenerPorUsernameResult" nillable="true" type="q95:SGF_Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ObtenerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ObtenerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Usuario_ObtenerTodoResult" nillable="true" type="q96:ArrayOfSGF_Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ObtenerPorTipoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="TipoUsuario" type="q97:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ObtenerPorTipoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Usuario_ObtenerPorTipoUsuarioResult" nillable="true" type="q98:ArrayOfSGF_Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="usuario" nillable="true" type="q99:SGF_Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ActualizarPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clvAnt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clvAct" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nompc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="logueado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ActualizarPasswordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_BuscarUsuarioVTA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="TipoUsuario" type="q100:guid" />
        <xs:element minOccurs="0" name="identificacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_BuscarUsuarioVTAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Usuario_BuscarUsuarioVTAResult" nillable="true" type="q101:ArrayOfSGF_Usuario_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_BuscarUsuarioPorID_VTA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="usuarioID" type="q102:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_BuscarUsuarioPorID_VTAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Usuario_BuscarUsuarioPorID_VTAResult" nillable="true" type="q103:SGF_Usuario_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Variedad_ObtenerPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q104:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Variedad_ObtenerPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Variedad_ObtenerPorIDResult" nillable="true" type="q105:SGF_Variedad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Variedad_ObtenerPorCodName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Variedad_ObtenerPorCodNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Variedad_ObtenerPorCodNameResult" nillable="true" type="q106:ArrayOfSGF_Variedad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Variedad_ObtenerPorCodNameVTA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Variedad_ObtenerPorCodNameVTAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Variedad_ObtenerPorCodNameVTAResult" nillable="true" type="q107:ArrayOfSGF_Variedad_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Variedad_ObtenerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Variedad_ObtenerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Variedad_ObtenerTodoResult" nillable="true" type="q108:ArrayOfSGF_Variedad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Variedad_ObtenerTodoVTA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Variedad_ObtenerTodoVTAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="Variedad_ObtenerTodoVTAResult" nillable="true" type="q109:ArrayOfSGF_Variedad_VTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Variedad_Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/SGF.DataAccess" minOccurs="0" name="variedad" nillable="true" type="q110:SGF_Variedad" />
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nompc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Variedad_GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>